@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-heading {
    font-family: var(--font-manrope);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #48556a;
  }

  .text-body {
    font-family: var(--font-manrope);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.122px;
    color: #6e8098;
  }

  .text-author {
    font-family: var(--font-manrope);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.122px;
    color: #48556a;
  }

  .text-date {
    font-family: var(--font-manrope);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.122px;
    color: #9daec2;
  }

  .text-action {
    font-family: var(--font-manrope);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 5px;
    color: #9daec2;
  }
}
